 .button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  height: 2rem;
  width: 10rem;
}

.button:hover {
  background-position: right center;
}