*{
  background-color: brown;
}

.tarefasEdit{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.caixaComScroll{
      background-color: white;
      width: 40rem;
      height: 15rem;
      border: 1px solid #29273b;
      overflow-y: scroll; 
    }

.buttonEditavel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    background-color: white;
    color: black;
    width: 15rem;
    height: 2rem;
    border: 2px solid #29273b;
}

.caixa{
  background-color: white;
}
